@media(max-width:700px) {
    .loader>h1 {
        font-size: 6vw;
    }

    nav {
        height: 8vh;
    }

    nav h2 {
        font-size: 3.5vw;
        color: #fff;
    }


    .nav-part {
        display: none;
    }

    nav button {
        padding: 2vw 5vw;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    nav button>a {
        text-decoration: none;
        color: #fff;
        font-size: 2.3vw;

    }



    #home {
        padding: 10vw 0;
        padding-top: 20vw;
        min-height: 80vh;
    }

    #home h1 {
        font-size: 6vw;
    }
    .hero{
        margin-top: 30px;
        height: 40vh;
    }

 .round{
    display: none;
 }

    .hero1 {
        width: 100%;
        filter: drop-shadow(0.5px 0.5px 10px rgb(225, 1, 1));
    }


    .hero img {
        margin-left: 30px;
        width: 80%;


    }

    #name-div {
        margin-top: 5vh;
    }

    #name-div::-webkit-scrollbar {
        display: none;
    }

    #about {
        width: 100%;
        min-height: 50vh;
        background: #000;
        padding-top: 8vh;
    }

    #skill {
        width: 100%;
        min-height: 100vh;
        padding: 8.5vh 5.1vw;
        padding-bottom: 4vh;
        position: relative;
        background: #111;
    }

    .elem-div {
        display: inline-block;
    }
    .connectbtn>button{
        padding: 3vw 5vw;
    }

    .connectbtn>button i{
        font-size: 4vw;
    }
    .connectbtn>button a{
        gap: 1vw;
        font-size: 3vw;
    }

    .skill-elem-card {
        width: 80px;
        height: 80px;
        text-align: center;
        margin-bottom: 10px;
        margin-left: 10px;
    }

    .skill-elem-card1 {
        width: 80px;
        height: 80px;
        text-align: center;
        margin-left: 10px;
    }

    .skill-elem-card:nth-child(3)::after {
        display: none;
    }

    .skill-elem-card:nth-child(6)::after {
        display: none;
    }

    .skill-elem-card:nth-child(7)::after {
        display: none;
    }
    .skill-elem-card:nth-child(1)::after {
        display: none;
    }
    .skill-elem-card:nth-child(2)::after {
        display: none;
    }
    .skill-elem-card:nth-child(4)::after {
        display: none;
    }
    .skill-elem-card:nth-child(5)::after {
        display: none;
    }

    .skill-elem-card:nth-child(8)::after {
        display: none;
    }

    .box img {
        height: 6.5vmax;
        position: relative;
        top: 25%;

    }

    .des-box img {
        height: 6vmax;
        margin-right: 1.4vmax;
    }

    #project {
        min-height: 50vh;
        width: 100%;
        background: #000;
        padding: 5vw 5.1vw;
        padding-top: 8vh;

    }

    #contact {
        min-height: 40vh;
    }
}